:8080 {
	handle /v1/* {
		reverse_proxy 127.0.0.1:1234 {
			header_up -Origin
			header_up Host localhost:1234
		}
	}
	handle /search {
		reverse_proxy 127.0.0.1:5555
	}
	handle /search/* {
		reverse_proxy 127.0.0.1:5555
	}
	handle /log {
		reverse_proxy 127.0.0.1:5555
	}
	handle /monitor {
		reverse_proxy 127.0.0.1:5555
	}
	handle /monitor/* {
		reverse_proxy 127.0.0.1:5555
	}
	handle {
		root * web
		file_server
	}
}
